*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #FFF455;
    position: relative;
}

.main{
    background-color: #FFF455;
    width: 100%;
    height: 100vh;
}

.dark-img{
    cursor: pointer;
    float: right;
    margin: 15px;
}

.contents{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    min-width: 90%;
}

.content-h1{
    font-family: "Akaya Kanadaka", system-ui;
    font-size: 48px;
}

.content-p{
    font-family: "Itim", cursive;
    font-size: 20px;
}

.comp-btn, .sug-btn{
    padding: 80px 60px;
    font-size: 35px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: 500;
    font-family: "Itim", cursive;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn{
    margin-top: 120px;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* media query */

@media screen and (max-width:2500px) {
    .main{
        background-color: #FFF455;
    }
}

@media  screen and (max-width:768px) {

    .content-h1{
        font-size: 36px;
    }
    
    .content-p{
        font-size: 15px;
    }

    .comp-btn, .sug-btn{
        padding: 60px 45px;
        font-size: 23px;
        border-radius: 20px;
        color: white;
        background-color: black;
        font-weight: 500;
    }
}

@media  screen and (max-width:440px) {

    .content-h1{
        font-size: 30px;
    }
    
    .content-p{
        font-size: 15px;
    }

    .comp-btn, .sug-btn{

        padding: 30px 120px;
        font-size: 15px;
        border-radius: 20px;
        color: white;
        background-color: black;
        font-weight: 500;
        margin-bottom: 35px;
    }
    .btn{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }

    .contents{
        /* padding-top: 150px; */
        text-wrap: wrap;
    }

    .form{
        width: 100%;
        max-width: 250px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    
    .form-div{
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    
    .label{
        font-size: 12px;
        font-family: "Itim", cursive;
        cursor: pointer;
    }
    
    #name,#email,#submit{
        padding: 10px;
        border: 2px solid;
        border-radius: 10px;
        margin: 10px 0px;
        
    }
    
    #complaint-area{
        padding: 13px;
        border: 2px solid;
        height: auto;
        margin: 10px 0px;
    }
    
    #submit{
        background-color: black;
        color: white;
        font-size:24px ;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


/* complaint.html  suggestion.html*/

.main-1{
    background-color: #FFF455;
    width: 100%;
    height: 100vh;
}

.form{
    width: 100%;
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.form-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.label{
    font-size: 24px;
    font-family: "Itim", cursive;
    cursor: pointer;
}

#name,#email,#submit{
    padding: 13px;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 0px;
    
}

#complaint-area{
    padding: 13px;
    border: 2px solid;
    height: 100px;
    margin: 10px 0px;
}

#submit{
    background-color: black;
    color: white;
    font-size:24px ;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

.submitted-img{
    position:absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:none;
}

#span{
    color: red;
    display: none;
}
